tweeter sentiment tracking
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Send_Text_Message_(SMS)": {
                        "inputs": {
                            "body": {
                                "body": "the score is @{body('Detect_Sentiment_(V2)')?['score']} tweeter ID was @{triggerBody()?['TweetedBy']}",
                                "from": "+15093944901",
                                "to": "+886 0989981906"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['twilio']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Messages.json"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "less": [
                                "@body('Detect_Sentiment_(V2)')?['score']",
                                "@float(0.5)"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Detect_Sentiment_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Detect_Sentiment_(V2)": {
                "inputs": {
                    "body": {
                        "text": "@triggerBody()?['TweetText']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['cognitiveservicestextanalytics_2']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/sentiment"
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_tweet_is_posted": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/onnewtweet",
                    "queries": {
                        "searchQuery": "#YUANenterprise"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 5
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "cognitiveservicestextanalytics_2": {
                    "connectionId": "/subscriptions/7904f3c8-bffa-4a6a-b7d0-e589ac5e0a1e/resourceGroups/YUAN/providers/Microsoft.Web/connections/cognitiveservicestextanalytics-2",
                    "connectionName": "cognitiveservicestextanalytics-2",
                    "id": "/subscriptions/7904f3c8-bffa-4a6a-b7d0-e589ac5e0a1e/providers/Microsoft.Web/locations/eastasia/managedApis/cognitiveservicestextanalytics"
                },
                "twilio": {
                    "connectionId": "/subscriptions/7904f3c8-bffa-4a6a-b7d0-e589ac5e0a1e/resourceGroups/YUAN/providers/Microsoft.Web/connections/twilio",
                    "connectionName": "twilio",
                    "id": "/subscriptions/7904f3c8-bffa-4a6a-b7d0-e589ac5e0a1e/providers/Microsoft.Web/locations/eastasia/managedApis/twilio"
                },
                "twitter": {
                    "connectionId": "/subscriptions/7904f3c8-bffa-4a6a-b7d0-e589ac5e0a1e/resourceGroups/YUAN/providers/Microsoft.Web/connections/twitter",
                    "connectionName": "twitter",
                    "id": "/subscriptions/7904f3c8-bffa-4a6a-b7d0-e589ac5e0a1e/providers/Microsoft.Web/locations/eastasia/managedApis/twitter"
                }
            }
        }
    }
}
